body {
  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande', 'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-top: 20px;
  color: #293c4b;
}

img {
  margin: 20px 0;
  max-width: 200px;
}
